:root {
	/* Page */
	--page-width: 1120px;
	--page-padding: 30px;
	--main-width: calc(
		var(--page-width) +
			(var(--page-padding) * 2)
	);

	/* Font */
	--font-main: sans-serif;

	/* Font size */
	--font-size: 1em;

	/* Colors names */
	--white: 255 255 255;
	--black: 0 0 0;

	/* Colors */
	--color: rgb(var(--eerie-black));
	--color-invert: rgb(var(--shadows));
	--color-bg: rgb(var(--white));
	--color-bg-invert: rgb(
		var(--white)
	);
}
